<div class="hero container">
	<div class="row">
		<div class="col-10">
			<h1>My Items</h1>
			<% @items.each do |item| %>
			  <div>
			    <h2><%= item.name %></h2>
			    <p><%= item.value %></p>
			    <hr>
			    <br><br>
			  </div>
			<% end %>
			<%= @items.sum(:value) %>
		</div>
	</div>
</div>