<div class="hero container">
	<div class="row">
		<div class="col-10">
			<h1>Add an Item</h1>
			<%= simple_form_for @item do |f| %>
			    <%= f.input :name %>
			    <%= f.input :value %>
			    <%= f.submit 'Create', class: 'btn btn-primary' %>
			<% end %>
		</div>
	</div>
</div>