@import "bootstrap";

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
}

body {
	background-color: #18634c;
}

h1 {
	color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 86px;
    margin-top: 15%;
}

h2 {
	color: white;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 24px;
}